<a href="https://colab.research.google.com/github/Anu-George-K/ML_Classification-Models/blob/main/stroke_KNN_Naive_Bayes_SVM_Alg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('/content/stroke.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df.tail()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [5]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [6]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [7]:
df.drop(['id'], axis=1,inplace=True)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [8]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [9]:

df.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [10]:
x=df['bmi'].mean()
print(x)

28.893236911794666

In [11]:
df['bmi'].fillna(x,inplace=True)
print(df)

      gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
1     Female  61.0             0              0          Yes  Self-employed
2       Male  80.0             0              1          Yes        Private
3     Female  49.0             0              0          Yes        Private
4     Female  79.0             1              0          Yes  Self-employed
...      ...   ...           ...            ...          ...            ...
5105  Female  80.0             1              0          Yes        Private
5106  Female  81.0             0              0          Yes  Self-employed
5107  Female  35.0             0              0          Yes  Self-employed
5108    Male  51.0             0              0          Yes        Private
5109  Female  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level        bmi   smoking_status  stroke
0             Urban             228.69  36.600000  formerly smoked       1
1             Rural             202.21  28.893237     never smoked       1
2             Rural             105.92  32.500000     never smoked       1
3             Urban             171.23  34.400000           smokes       1
4             Rural             174.12  24.000000     never smoked       1
...             ...                ...        ...              ...     ...
5105          Urban              83.75  28.893237     never smoked       0
5106          Urban             125.20  40.000000     never smoked       0
5107          Rural              82.99  30.600000     never smoked       0
5108          Rural             166.29  25.600000  formerly smoked       0
5109          Urban              85.28  26.200000          Unknown       0

[5110 rows x 11 columns]

In [12]:
df.isna().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                5110 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [15]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['gender_encoder']=le.fit_transform(df['gender'])
df['ever_married']=le.fit_transform(df['ever_married'])
df['work_type']=le.fit_transform(df['work_type'])
df['Residence_type']=le.fit_transform(df['Residence_type'])
df['gender']=le.fit_transform(df['gender'])
df['smoking_status']=le.fit_transform(df['smoking_status'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   int64
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   int64
 5   work_type          5110 non-null   int64
 6   Residence_type     5110 non-null   int64
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                5110 non-null   float64
 9   smoking_status     5110 non-null   int64
 10  stroke             5110 non-null   int64
 11  gender_encoder     5110 non-null   int64
dtypes: float64(3), int64(9)
memory usage: 479.2 KB

In [17]:
df.dtypes

gender                 int64
age                  float64
hypertension           int64
heart_disease          int64
ever_married           int64
work_type              int64
Residence_type         int64
avg_glucose_level    float64
bmi                  float64
smoking_status         int64
stroke                 int64
gender_encoder         int64
dtype: object

In [18]:
x=df.iloc[:,:-1].values
x

array([[ 1.        , 67.        ,  0.        , ..., 36.6       ,
         1.        ,  1.        ],
       [ 0.        , 61.        ,  0.        , ..., 28.89323691,
         2.        ,  1.        ],
       [ 1.        , 80.        ,  0.        , ..., 32.5       ,
         2.        ,  1.        ],
       ...,
       [ 0.        , 35.        ,  0.        , ..., 30.6       ,
         2.        ,  0.        ],
       [ 1.        , 51.        ,  0.        , ..., 25.6       ,
         1.        ,  0.        ],
       [ 0.        , 44.        ,  0.        , ..., 26.2       ,
         0.        ,  0.        ]])

In [19]:
y=df.iloc[:,-1].values
y

array([1, 0, 1, ..., 0, 1, 0])

In [20]:
x.ndim

2

In [21]:
y.ndim

1

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)
x_train

array([[ 1.  ,  4.  ,  0.  , ..., 16.2 ,  0.  ,  0.  ],
       [ 1.  , 29.  ,  0.  , ..., 22.8 ,  3.  ,  0.  ],
       [ 1.  , 44.  ,  1.  , ..., 26.5 ,  2.  ,  0.  ],
       ...,
       [ 0.  ,  1.16,  0.  , ..., 17.8 ,  0.  ,  0.  ],
       [ 1.  , 80.  ,  0.  , ..., 31.  ,  1.  ,  0.  ],
       [ 0.  , 46.  ,  0.  , ..., 50.3 ,  3.  ,  0.  ]])

In [23]:
x_test

array([[ 1. , 31. ,  0. , ..., 23. ,  0. ,  0. ],
       [ 1. , 40. ,  0. , ..., 28.3,  2. ,  0. ],
       [ 0. ,  8. ,  0. , ..., 22.5,  0. ,  0. ],
       ...,
       [ 1. , 42. ,  0. , ..., 27.2,  2. ,  0. ],
       [ 0. , 57. ,  0. , ..., 24. ,  0. ,  0. ],
       [ 0. , 60. ,  0. , ..., 25.3,  2. ,  0. ]])

In [24]:
y_train

array([1, 1, 1, ..., 0, 1, 0])

In [25]:
y_test

array([1, 1, 0, ..., 1, 0, 0])

In [26]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)
x_train

array([[ 1.18418048, -1.7467638 , -0.31719928, ..., -1.65003512,
        -1.29622579, -0.21639016],
       [ 1.18418048, -0.63635252, -0.31719928, ..., -0.79238754,
         1.52066342, -0.21639016],
       [ 1.18418048,  0.02989425,  3.15259225, ..., -0.31158512,
         0.58170035, -0.21639016],
       ...,
       [-0.84446587, -1.87290652, -0.31719928, ..., -1.44212056,
        -1.29622579, -0.21639016],
       [ 1.18418048,  1.62888649, -0.31719928, ...,  0.27317459,
        -0.35726272, -0.21639016],
       [-0.84446587,  0.11872715, -0.31719928, ...,  2.78114402,
         1.52066342, -0.21639016]])

In [27]:
x_test

array([[ 1.19722611, -0.52525515, -0.35433129, ..., -0.76383152,
        -1.25992122, -0.24826266],
       [ 1.19722611, -0.13106694, -0.35433129, ..., -0.0756488 ,
         0.58131732, -0.24826266],
       [-0.83078232, -1.53262504, -0.35433129, ..., -0.82875442,
        -1.25992122, -0.24826266],
       ...,
       [ 1.19722611, -0.04346956, -0.35433129, ..., -0.21847918,
         0.58131732, -0.24826266],
       [-0.83078232,  0.6135108 , -0.35433129, ..., -0.63398573,
        -1.25992122, -0.24826266],
       [-0.83078232,  0.74490687, -0.35433129, ..., -0.46518619,
         0.58131732, -0.24826266]])

In [28]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC
k_model=KNeighborsClassifier(n_neighbors=7)
nb_model=BernoulliNB()
sv_model=SVC()
model=[k_model,nb_model,sv_model]

In [29]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
for i in model:
  i.fit(x_train,y_train)
  y_pred=i.predict(x_test)
  result=confusion_matrix(y_test,y_pred)
  print(result)
  print(accuracy_score(y_test,y_pred))
  print(classification_report(y_test,y_pred))
  print("*"*100)

[[904   2   0]
 [  2 624   0]
 [  0   1   0]]
0.9967384213959556
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       906
           1       1.00      1.00      1.00       626
           2       0.00      0.00      0.00         1

    accuracy                           1.00      1533
   macro avg       0.66      0.66      0.66      1533
weighted avg       1.00      1.00      1.00      1533

****************************************************************************************************
[[906   0   0]
 [  0 626   0]
 [  0   1   0]]
0.9993476842791911
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       906
           1       1.00      1.00      1.00       626
           2       0.00      0.00      0.00         1

    accuracy                           1.00      1533
   macro avg       0.67      0.67      0.67      1533
weighted avg       1.00      1.00      1.00      1533

****************************************************************************************************
[[906   0   0]
 [  0 626   0]
 [  0   1   0]]
0.9993476842791911
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       906
           1       1.00      1.00      1.00       626
           2       0.00      0.00      0.00         1

    accuracy                           1.00      1533
   macro avg       0.67      0.67      0.67      1533
weighted avg       1.00      1.00      1.00      1533

****************************************************************************************************

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))